<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VitaClin</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <nav>
        <span class="nav-logo">🏥 VitaClin</span>
        <a href="{% url 'lista_pacientes' %}">Pacientes</a>
        <form method="POST" action="/logout/" style="display:inline;">
            {% csrf_token %}
            <button type="submit" class="btn-sair-form">Sair</button>
        </form>
    </nav>

    <div class="faixa-boas-vindas">
        🏥 VitaClin · Fisioterapia · Nutrição · Psicologia
    </div>

    <main>
        {% if messages %}
            {% for message in messages %}
                <div class="mensagem">{{ message }}</div>
            {% endfor %}
        {% endif %}

        {% block conteudo %}{% endblock %}
    </main>
</body>
</html>