<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VitaClin</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body>
    <nav>
        <a href="{% url 'qrcode_acesso' %}"><i class="fa-solid fa-qrcode"></i> QR Code</a>        <span class="nav-logo">VitaClin</span>
        <a href="{% url 'lista_pacientes' %}">Pacientes</a>
        <form method="POST" action="/logout/" style="display:inline;">
            {% csrf_token %}
            <button type="submit" class="btn-sair-form">Sair</button>
        </form>
    </nav>

    <div class="faixa-boas-vindas">
        Fisioterapia · Nutrição · Psicologia
    </div>

    <main>
        {% if messages %}
            {% for message in messages %}
                <div class="mensagem">{{ message }}</div>
            {% endfor %}
        {% endif %}

        {% block conteudo %}{% endblock %}
    </main>
</body>
</html>